# SSH Configuration
SSH_HOST=127.0.0.1
SSH_USER=user
SSH_PKEY=sshkey.pem

# Database Configuration
DB_HOST=127.0.0.1
DB_NAME=db_name
DB_USER=db_user
DB_PASS=db_password
DB_PORT=5432

MAX_RETRIES=2
MAX_DEPTH=5

# --- SBOM Runner Configuration ---
SBOM_FILENAME=bom.1.4.json

# Use True or False
GEN_ALL_DIRECT=True
GEN_ALL_SUBGRAPH=True

# Specific Subtree to target
SUBTREE_NAME=serve-index
SUBTREE_VERSION=1.9.1
SUBTREE_GROUP=

# Search Configuration
FIND_BY_COMPONENT=False
SEARCH_NAME=
SEARCH_VERSION=
SEARCH_GROUP=